<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <script src="https://cdn.staticfile.org/angular.js/1.7.0/angular.min.js"></script>
   <script src="https://cdn.staticfile.org/angular.js/1.7.0/angular-route.min.js"></script>
   <title>routing</title>
   <!-- https://www.runoob.com/angularjs/angularjs-application.html -->
   <!-- 
    现在是时候创建一个真正的 AngularJS 单页 Web 应用（single page web application，SPA）了。
 -->
</head>

<body ng-app="myNoteApp" ng-controller="myNoteCtrl">

   <h2>我的笔记</h2>


   <textarea ng-model="message" cols="40" rows="10"></textarea>

   <p>
      <button ng-click="save()">保存</button>
      <button ng-click="clear()">清除</button>
   </p>

   <p>剩余字数: <span ng-bind="left()"></span></p>

   <script src="./js/myNoteApp.js"></script>
   <script src="./js/myNoteCtrl.js"></script>

</body>

</html>