<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
    <title>controllers</title>
    <!-- https://www.runoob.com/angularjs/angularjs-controllers.html -->
</head>

<body>
    <!-- 
        外部文件中的控制器
        在大型的应用程序中，通常是把控制器存储在外部文件中。

        只需要把 <script> 标签中的代码复制到名为 personController.js 的外部文件中即可：

      -->
    <div ng-app="myApp" ng-controller="personCtrl">

        First Name: <input type="text" ng-model="firstName"><br>
        Last Name: <input type="text" ng-model="lastName"><br>
        <br>
        Full Name: {{firstName + " " + lastName}}

    </div>

    <script src="./js/personController.js"></script>
</body>

</html>