<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
    <title>forms</title>
    <!-- https://www.runoob.com/angularjs/angularjs-forms.html -->
</head>
<!-- 
    AngularJS 表单
    AngularJS 表单是输入控件的集合。

    HTML 控件
    以下 HTML input 元素被称为 HTML 控件:

    input 元素
    select 元素
    button 元素
    textarea 元素
    -->

<body ng-app="">

    <!--         
        单选框
        我们可以使用 ng-model 来绑定单选按钮到你的应用中。

        单选框使用同一个 ng-model ，可以有不同的值，但只有被选中的单选按钮的值会被使用。

        实例
        根据选中的单选按钮，显示信息：
      -->
    <form>
        选择一个选项:
        <input type="radio" ng-model="myVar" value="dogs">Dogs
        <input type="radio" ng-model="myVar" value="tuts">Tutorials
        <input type="radio" ng-model="myVar" value="cars">Cars
    </form>

    <div ng-switch="myVar">
        <div ng-switch-when="dogs">
            <h1>Dogs</h1>
            <p>Welcome to a world of dogs.</p>
        </div>
        <div ng-switch-when="tuts">
            <h1>Tutorials</h1>
            <p>Learn from examples.</p>
        </div>
        <div ng-switch-when="cars">
            <h1>Cars</h1>
            <p>Read about cars.</p>
        </div>
    </div>

    <p>ng-switch 指令根据单选按钮的选择结果显示或隐藏 HTML 区域。</p>
</body>

</html>